@use "../../styles/viewports" as *;

.controls {
  display: flex;
  align-items: center;

  label {
    font-family: var(--font-atyp-text);
    line-height: 1;
  }

  .orderby {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding-right: 2.4rem;

    select {
      font-family: var(--font-atyp-text);
      font-size: 2rem;
      color: var(--color-light);
      text-decoration: underline;
      border: none;
      background-color: transparent;
      appearance: none;
      background-image: url("/images/select/chevron.svg");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 1.6rem auto;
      padding-right: 2.5rem;
      min-width: 12rem; /* Add minimum width to prevent chevron from moving */
    }
  }

  .involved {
    position: relative;
    padding-left: 2.4rem;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 0.1rem;
      background-color: var(--color-light);
      opacity: 0.3;
    }

    .checkbox {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      cursor: pointer;

      input[type="checkbox"] {
        appearance: none;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 0.4rem;
        background-color: var(--color-light);
        position: relative;
        cursor: pointer;

        &:checked {
          &:after {
            content: "";
            position: absolute;
            left: 0.6rem;
            top: 0.15rem;
            width: 0.5rem;
            height: 1rem;
            border: solid var(--color-dark);
            border-width: 0 0.2rem 0.2rem 0;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}

@include mobile {
  .controls {
    width: 100%;
    flex-direction: column;

    .orderby {
      width: 100%;
      padding-right: 0;
      padding-bottom: 2.4rem;
    }

    .involved {
      width: 100%;
      padding-left: 0;
      padding-top: 2.4rem;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 0.1rem;
      }
    }
  }
}
