@use "../viewports.scss" as *;

.section {
  padding-block: 6rem;
  @include mobile {
    padding-block: 4rem;
  }

  &[data-space-1] {
    padding-block: 8rem;
    @include mobile {
      padding-block: 6rem;
    }
  }

  &[data-space-2] {
    padding-block: 16rem;
    @include mobile {
      padding-block: 6rem;
    }
  }

  &[data-green] {
    color: var(--color-dark);
    background-color: var(--color-accent);

    &[data-decorated] {
      background-image: url("/images/green-section-bg.png");
      background-size: cover;
      background-position: center;
    }
  }
}
