@use "../../styles/viewports.scss" as *;

.hero {
  position: relative;
  width: 100%;
  padding-top: 19.5rem;
  padding-bottom: 7.1rem;

  .heroImage {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    height: calc(100% - 4rem - 7.1rem);
    object-fit: contain;
  }

  .title {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;

    font-size: 12rem;
    font-weight: 400;
    line-height: 0.9;
    letter-spacing: -0.02em;

    > span {
      display: block;

      &:nth-child(1) {
        margin-bottom: 2.4rem;
      }

      &:nth-child(2) {
        text-align: right;
        margin-bottom: 9rem;
      }

      &:nth-child(3) {
        text-align: center;
      }
    }
  }

  .description {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 15.3rem;
    width: 38.4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    p {
      font-family: var(--font-atyp-text);
      font-size: 2rem;
      line-height: 1.4;
    }
  }
}

@include mobile {
  .hero {
    padding-top: 13rem;
    padding-bottom: 5rem;

    .heroImage {
      top: 6rem;
      height: calc(100% - 6rem - 14.5rem);
    }

    .title {
      font-size: 3.6rem;
      > span {
        &:nth-child(1) {
          margin-bottom: 3.5rem;
        }

        &:nth-child(2) {
          margin-bottom: 3.5rem;
        }
      }
    }

    .description {
      position: static;
      width: 100%;
      font-size: 1.6rem;
      text-align: center;
      margin-top: 7.4rem;

      .scrollIndicator {
        display: none;
      }
    }
  }
}
