@use "../../styles/variables.scss" as *;

@include mobile {
  .hero {
    padding-top: 13rem;
    padding-bottom: 5rem;

    .heroImage {
      top: 6rem;
      height: calc(100% - 6rem - 14.5rem);
    }

    .title {
      font-size: 3.6rem;
      > span {
        &:nth-child(1) {
          margin-bottom: 3.5rem;
        }

        &:nth-child(2) {
          margin-bottom: 3.5rem;
        }
      }
    }

    .description {
      position: static;
      width: 100%;
      font-size: 1.6rem;
      text-align: center;
      margin-top: 7.4rem;
    }
  }
}
