@use "../../styles/viewports.scss" as *;

.stats {
  display: flex;
  gap: 2.4rem;
  align-items: flex-start;
  justify-content: space-between;

  .totalAmount,
  .totalUsers {
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    align-items: baseline;

    svg {
      height: 1.4rem;
      width: auto;
      margin-right: 0.8rem;
    }
  }
  .totalAmountTable {
    border-collapse: collapse;

    td {
      font-size: 1.4rem;
      line-height: 1;

      &:first-child {
        padding-right: 1rem;
      }

      &.totalAmountFor {
        color: var(--color-green);
      }

      &.totalAmountAgainst {
        color: var(--color-red);
      }
    }
  }

  &.large {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;

    .totalAmount {
      font-size: 3.2rem;
    }

    .totalUsers {
      font-size: 2.4rem;

      svg {
        height: 0.8em;
      }
    }
  }

  &.greenBackground {
    .totalAmountTable .totalAmountFor {
      color: var(--color-green-dark);
    }
  }
}
