@use "./viewports.scss" as *;

:root {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: var(--font-atyp-display);
  * {
    font-feature-settings: "ss02" on, "ss06" on;
  }

  // Mobile mockup width: 375px
  font-size: calc(100vw / 375 * 10);

  @include tablet {
    // Desktop mockup width: 1440px
    font-size: calc(100vw / 1440 * 10);
  }

  @include large {
    font-size: 10px !important;
  }
}

:root body {
  width: 100%;
  font-size: 1.6rem;

  .page {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
  }

  hr {
    border: none;
    border-bottom: 0.1rem solid var(--color-light-border);
    margin: 0;
  }

  button {
    color: var(--color-dark);
  }
}
