$color-dark: #121212;
$color-dark-gray: #1c1c1c;
$color-light-gray: #f2f2f2;
$color-light: #ffffff;
$color-light-border: rgba(255, 255, 255, 0.2);
$color-accent: #c1ff14;
$color-error: #ff0000;
$color-green: #008837;
$color-red: #FF3B30;

:root {
  --color-dark: #{$color-dark};
  --color-dark-gray: #{$color-dark-gray};
  --color-light-gray: #{$color-light-gray};
  --color-light: #{$color-light};
  --color-light-border: #{$color-light-border};
  --color-accent: #{$color-accent};
  --color-error: #{$color-error};
  --color-green: #{$color-green};
  --color-red: #{$color-red};
}
