
$color-dark: #121212;
$color-light: #ffffff;
$color-accent: #c1ff14;
$color-gray: #d8d8d8;
$color-pink: #ff62e6;
$color-blue: #0038ff;
$color-orange: #f2420c;

:root {
  --color-dark: #{$color-dark};
  --color-light: #{$color-light};
  --color-accent: #{$color-accent};
  --color-gray: #{$color-gray};
  --color-pink: #{$color-pink};
  --color-blue: #{$color-blue};
  --color-orange: #{$color-orange};
}
