@use "../../styles/viewports.scss" as *;

.stepList {
  margin-inline: 0;
  margin-top: 6rem;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 38rem));
  gap: 5.6rem 12rem;
}

.carousel {
  display: none;
}

@include mobile {
  .carousel {
    margin-top: 3.2rem;
    display: block;

    .carouselItem {
      width: 33.5rem;
    }
  }

  .stepList {
    display: none;
  }
}
