@use "../../styles/variables.scss" as *;

.header {
  margin-block: 4rem;

  .logo {
    height: 3.5rem;
    width: auto;
  }
}

@include mobile {
  .header {
    margin-block: 2rem;

    .logo {
      height: 2.5rem;
    }
  }
}
